body, html {
    padding: 0;
    margin: 0;
    font-size: 10px;
    box-sizing:border-box;
}

h1 {
    font-size: 50px;
    margin: 25px auto;
    text-align: center;
}

.post {
    font-size: 15px;
}